# ---------- FRONTEND BUILD ----------
FROM node:20-alpine AS frontend-build

WORKDIR /app/client

# Install deps
COPY client/package*.json ./
RUN npm install

# Copy frontend code
COPY client/ ./

# Set API URL (important for Vite)
ENV VITE_API_URL=http://51.20.184.90

# Build frontend
RUN npm run build


# ---------- BACKEND ----------
FROM node:20-alpine

WORKDIR /app

# Install backend deps
COPY package*.json ./
RUN npm install

# Copy backend code
COPY . .

# Copy built frontend from previous stage
COPY --from=frontend-build /app/client/dist ./client/dist

# Expose port
EXPOSE 80

# Start server
CMD ["node", "server.js"]